#form{
    align-content: center;
    background-color: #fff;
    width: 100%;
    padding-top: 40px;
    //border: #000 1px solid;
    border-radius: 10px;
}

#form_mobile{
    align-content: center;
    background-color: #fff;
    width: 100%;
    //border: #000 1px solid;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}


.items p{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.motivos{
    width: 80%;
}

.items button{
    margin-bottom: 50px;
}